# Dependencies
node_modules/

# Builds
dist/
build/
out/

# Environment
.env
.env.local
.env.*.local

# Prisma
backend/prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Temp
.tmp/